body {
    margin: 0;

    background-color: black;
}

main {
    border-radius: 30px;

    height: 100vh;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    padding: 20px;
    height: 40px;
}

header > img {
    height: 40px;
    width: 40px;

    grid-column: 1;
}

header > div {
    justify-self: end;
    grid-column: 2;

    font-size: 15px;
}

section {
    padding: 0 20px;
}

footer {
    padding: 0 20px;
    
    font-size: 15px;
}