#logged_in {
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
    width: 100%;

    padding: 0 10px;

    border-radius: 10px;
    box-sizing: border-box;
}

#logged_in > button {
    height: 25px;
    width: 50px;

    justify-self: end;

    border-radius: 10px;
    border: solid black 1px;
    box-sizing: border-box;
}